In [146]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split
sns.set_theme(style="whitegrid")

data = pd.read_csv('Sport car price.csv')

In [70]:
data

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),0-60 MPH Time (seconds),Price (in USD)
0,Porsche,911,2022,3,379,331,4,"101,200"
1,Lamborghini,Huracan,2021,5.2,630,443,2.8,"274,390"
2,Ferrari,488 GTB,2022,3.9,661,561,3,"333,750"
3,Audi,R8,2022,5.2,562,406,3.2,"142,700"
4,McLaren,720S,2021,4,710,568,2.7,"298,000"
...,...,...,...,...,...,...,...,...
1002,Koenigsegg,Jesko,2022,5,1280,1106,2.5,"3,000,000"
1003,Lotus,Evija,2021,Electric Motor,1972,1254,2,"2,000,000"
1004,McLaren,Senna,2021,4,789,590,2.7,"1,000,000"
1005,Pagani,Huayra,2021,6,764,738,3,"2,600,000"
1006,Rimac,Nevera,2021,Electric Motor,1888,1696,1.85,"2,400,000"

In [71]:
data.isnull().sum()

Car Make                    0
Car Model                   0
Year                        0
Engine Size (L)            10
Horsepower                  0
Torque (lb-ft)              3
0-60 MPH Time (seconds)     0
Price (in USD)              0
dtype: int64

In [72]:
data = data.drop(columns = '0-60 MPH Time (seconds)',axis =1)

In [73]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Make         1007 non-null   object
 1   Car Model        1007 non-null   object
 2   Year             1007 non-null   int64
 3   Engine Size (L)  997 non-null    object
 4   Horsepower       1007 non-null   object
 5   Torque (lb-ft)   1004 non-null   object
 6   Price (in USD)   1007 non-null   object
dtypes: int64(1), object(6)
memory usage: 55.2+ KB

In [74]:
data['Price (in USD)'] = data['Price (in USD)'].str.replace(',','')

In [75]:
data['Price (in USD)'] = data['Price (in USD)'].astype(int)

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Make         1007 non-null   object
 1   Car Model        1007 non-null   object
 2   Year             1007 non-null   int64
 3   Engine Size (L)  997 non-null    object
 4   Horsepower       1007 non-null   object
 5   Torque (lb-ft)   1004 non-null   object
 6   Price (in USD)   1007 non-null   int64
dtypes: int64(2), object(5)
memory usage: 55.2+ KB

In [77]:
data

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Torque (lb-ft),Price (in USD)
0,Porsche,911,2022,3,379,331,101200
1,Lamborghini,Huracan,2021,5.2,630,443,274390
2,Ferrari,488 GTB,2022,3.9,661,561,333750
3,Audi,R8,2022,5.2,562,406,142700
4,McLaren,720S,2021,4,710,568,298000
...,...,...,...,...,...,...,...
1002,Koenigsegg,Jesko,2022,5,1280,1106,3000000
1003,Lotus,Evija,2021,Electric Motor,1972,1254,2000000
1004,McLaren,Senna,2021,4,789,590,1000000
1005,Pagani,Huayra,2021,6,764,738,2600000
1006,Rimac,Nevera,2021,Electric Motor,1888,1696,2400000

In [78]:
data  = data.drop(columns = 'Torque (lb-ft)',axis=1)

In [79]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Make         1007 non-null   object
 1   Car Model        1007 non-null   object
 2   Year             1007 non-null   int64
 3   Engine Size (L)  997 non-null    object
 4   Horsepower       1007 non-null   object
 5   Price (in USD)   1007 non-null   int64
dtypes: int64(2), object(4)
memory usage: 47.3+ KB

In [80]:
data

         Car Make Car Model  Year Engine Size (L) Horsepower  Price (in USD)
0         Porsche       911  2022               3        379          101200
1     Lamborghini   Huracan  2021             5.2        630          274390
2         Ferrari   488 GTB  2022             3.9        661          333750
3            Audi        R8  2022             5.2        562          142700
4         McLaren      720S  2021               4        710          298000
...           ...       ...   ...             ...        ...             ...
1002   Koenigsegg     Jesko  2022               5       1280         3000000
1003        Lotus     Evija  2021  Electric Motor       1972         2000000
1004      McLaren     Senna  2021               4        789         1000000
1005       Pagani    Huayra  2021               6        764         2600000
1006        Rimac    Nevera  2021  Electric Motor       1888         2400000

[1007 rows x 6 columns]

In [81]:
data.isnull().sum()

Car Make            0
Car Model           0
Year                0
Engine Size (L)    10
Horsepower          0
Price (in USD)      0
dtype: int64

In [82]:
data = data.reset_index(drop = True)

In [83]:
data

         Car Make Car Model  Year Engine Size (L) Horsepower  Price (in USD)
0         Porsche       911  2022               3        379          101200
1     Lamborghini   Huracan  2021             5.2        630          274390
2         Ferrari   488 GTB  2022             3.9        661          333750
3            Audi        R8  2022             5.2        562          142700
4         McLaren      720S  2021               4        710          298000
...           ...       ...   ...             ...        ...             ...
1002   Koenigsegg     Jesko  2022               5       1280         3000000
1003        Lotus     Evija  2021  Electric Motor       1972         2000000
1004      McLaren     Senna  2021               4        789         1000000
1005       Pagani    Huayra  2021               6        764         2600000
1006        Rimac    Nevera  2021  Electric Motor       1888         2400000

[1007 rows x 6 columns]

In [84]:
data.describe()

              Year  Price (in USD)
count  1007.000000    1.007000e+03
mean   2021.201589    3.820359e+05
std       2.019802    7.383227e+05
min    1965.000000    2.500000e+04
25%    2021.000000    7.180000e+04
50%    2021.000000    1.400000e+05
75%    2022.000000    2.500000e+05
max    2023.000000    5.200000e+06

In [85]:
data[data['Price (in USD)']>5e6]

,Car Make,Car Model,Year,Engine Size (L),Horsepower,Price (in USD)
541,Bugatti,Chiron Super Sport 300+,2022,8,1578,5200000
823,Bugatti,Chiron Super Sport 300+,2021,8,1578,5200000

In [86]:
data = data[data['Price (in USD)']<5e6].reset_index(drop=True)

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Make         1005 non-null   object
 1   Car Model        1005 non-null   object
 2   Year             1005 non-null   int64
 3   Engine Size (L)  995 non-null    object
 4   Horsepower       1005 non-null   object
 5   Price (in USD)   1005 non-null   int64
dtypes: int64(2), object(4)
memory usage: 47.2+ KB

In [88]:
 data = data[~data['Horsepower'].isna()]

In [89]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1005 entries, 0 to 1004
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Car Make         1005 non-null   object
 1   Car Model        1005 non-null   object
 2   Year             1005 non-null   int64
 3   Engine Size (L)  995 non-null    object
 4   Horsepower       1005 non-null   object
 5   Price (in USD)   1005 non-null   int64
dtypes: int64(2), object(4)
memory usage: 55.0+ KB

In [90]:
x=data.drop(columns='Price (in USD)',axis=1)
y=data['Price (in USD)']

In [91]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size = 0.2)

In [92]:
ohe = OneHotEncoder()

In [115]:
ohe.categories_

[array(['Acura', 'Alfa Romeo', 'Alpine', 'Ariel', 'Aston Martin', 'Audi',
        'BMW', 'Bentley', 'Bugatti', 'Chevrolet', 'Dodge', 'Ferrari',
        'Ford', 'Jaguar', 'Kia', 'Koenigsegg', 'Lamborghini', 'Lexus',
        'Lotus', 'Maserati', 'Mazda', 'McLaren', 'Mercedes-AMG',
        'Mercedes-Benz', 'Nissan', 'Pagani', 'Pininfarina', 'Polestar',
        'Porsche', 'Rimac', 'Rolls-Royce', 'Shelby', 'Subaru', 'TVR',
        'Tesla', 'Toyota', 'Ultima', 'W Motors'], dtype=object),
 array(['1', '370Z', '370Z Coupe', '370Z Nismo', '400Z', '488 GTB', '4C',
        '4C Spider', '570S', '570S Spider', '600LT', '600LT Spider',
        '718 Boxster', '718 Cayman', '718 Cayman GT4', '720S', '765LT',
        '812 Superfast', '911', '911 Turbo S', '918 Spyder', 'A110',
        'AMG A45', 'AMG C 63', 'AMG C 63 S', 'AMG C43 Coupe', 'AMG C63',
        'AMG GT', 'AMG GT 4-Door Coupe', 'AMG GT 63 S',
        'AMG GT Black Series', 'AMG GT R', 'Artura', 'Atom', 'Aventador',
        'Aventador S', 'Aventador SVJ', 'Battista', 'Boxster', 'C 63 AMG',
        'C 63 S', 'C 63 S Coupe', 'C63 AMG', 'C63 S', 'C63 S AMG',
        'C63 S Coupe', 'CLS63 AMG', 'C_Two', 'Camaro', 'Camaro SS',
        'Camaro SS 1LE', 'Camaro SS Convertible', 'Camaro ZL1', 'Cayman',
        'Cayman GT4', 'Challenger', 'Challenger Hellcat',
        'Challenger Hellcat Redeye', 'Challenger R/T',
        'Challenger SRT Hellcat', 'Challenger SRT Hellcat Redeye',
        'Charger', 'Charger Hellcat', 'Charger SRT Hellcat', 'Chiron',
        'Chiron Pur Sport', 'Cobra', 'Continental GT',
        'Continental GT Speed', 'Corvette', 'Corvette Stingray',
        'Corvette Z06', 'DB11', 'DBS Superleggera', 'Dawn', 'Evija',
        'Evora', 'Evora GT', 'F-Type', 'F-Type R', 'F8 Spider',
        'F8 Tributo', 'Fenyr SuperSport', 'Fenyr Supersport', 'GR Supra',
        'GT', 'GT 63', 'GT 63 S', 'GT Black Series', 'GT-R Nismo', 'Ghost',
        'Giulia Quadrifoglio', 'GranTurismo', 'Griffith', 'Huayra',
        'Huayra BC', 'Huayra Roadster BC', 'Huracan', 'Jesko',
        'Jesko Absolut', 'LC', 'LC 500', 'Lykan Hypersport', 'M2', 'M2 CS',
        'M2 Competition', 'M4', 'M4 Competition', 'M4 Coupe', 'M5',
        'M5 Competition', 'M8', 'MC20', 'MX-5 Miata', 'Model S',
        'Model S Plaid', 'Mustang', 'Mustang GT', 'Mustang Mach 1',
        'Mustang Shelby GT500', 'NSX', 'Nevera', 'Panamera',
        'Panamera GTS', 'Panamera Turbo', 'Panamera Turbo S',
        'Panamera Turbo S E-Hybrid', 'Portofino', 'Portofino M', 'R8',
        'R8 Spyder', 'RS', 'RS 3', 'RS 5', 'RS 5 Coupe', 'RS 6',
        'RS 6 Avant', 'RS 7', 'RS 7 Sportback', 'RS3', 'RS5', 'RS5 Coupe',
        'RS6', 'RS6 Avant', 'RS7', 'RS7 Sportback', 'Roadster', 'Roma',
        'S5', 'S63 AMG', 'SF90 Stradale', 'SL', 'SL 63 AMG', 'SLC 43',
        'SLS AMG', 'SLS AMG Black Series', 'Senna', 'Sián', 'Speedtail',
        'Stinger', 'Supra', 'TT RS', 'TT RS Coupe', 'Taycan', 'Taycan 4S',
        'Taycan Turbo S', 'Urus', 'Vantage', 'Viper', 'Viper ACR',
        'WRX STI', 'Wraith', 'Z4 M40i', 'Z4 Roadster', 'i8'], dtype=object),
 array(['-', '0', '1.5', '1.5 + Electric', '1.7', '1.8', '2',
        '2.0 (Electric)', '2.3', '2.5', '2.9', '3', '3.3', '3.5', '3.6',
        '3.7', '3.8', '3.9', '4', '4.0 (Hybrid)', '4.4', '4.6', '4.7', '5',
        '5.2', '5.5', '5.7', '6', '6.2', '6.3', '6.4', '6.5', '6.6', '6.7',
        '6.8', '7', '8', '8.4', 'Electric', 'Electric (100 kWh)',
        'Electric (93 kWh)', 'Electric (tri-motor)', 'Electric Motor',
        'Hybrid', 'Hybrid (4.0)', nan], dtype=object),
 array(['1,000+', '1,020', '1,500', '10,000', '10,000+', '1000', '1000+',
        '10000+', '1020', '1035', '1200', '1262', '1280', '1479', '1500',
        '1600', '181', '1872', '1874', '1888', '1914', '1972', '1973',
        '2000', '237', '255', '288', '296', '300', '305', '310', '320',
        '325', '332', '349', '350', '365', '368', '369', '372', '379',
        '380', '382', '385', '394', '400', '401', '402', '405', '414',
        '416', '429', '435', '444', '454', '455', '460', '469', '471',
        '473', '480', '482', '485', '490', '495', '500', '503', '505',
        '523', '542', '550', '562', '563', '573', '575', '577', '583',
        '591', '592', '600', '603', '611', '612', '616', '617', '620',
        '621', '622', '624', '625', '626', '630', '640', '641', '645',
        '647', '650', '660', '661', '671', '689', '690', '707', '710',
        '715', '717', '720', '729', '730', '750', '755', '759', '760',
        '764', '770', '780', '789', '791', '797', '800', '819', '887',
        '986'], dtype=object)]

In [116]:
ohe.fit(x[['Car Make','Car Model','Engine Size (L)','Horsepower']])

OneHotEncoder()

In [117]:
column_trans = make_column_transformer((OneHotEncoder(categories = ohe.categories_),['Car Make','Car Model','Engine Size (L)','Horsepower']),remainder='passthrough')

In [118]:
lr = LinearRegression()

In [119]:
pipe=make_pipeline(column_trans,lr)

In [120]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Acura', 'Alfa Romeo', 'Alpine', 'Ariel', 'Aston Martin', 'Audi',
       'BMW', 'Bentley', 'Bugatti', 'Chevrolet', 'Dodge', 'Ferrari',
       'Ford', 'Jaguar', 'Kia', 'Koenigsegg', 'Lamborghini', 'Lexus',
       'Lotus', 'Maserati', 'Mazda', 'McLaren'...
       '591', '592', '600', '603', '611', '612', '616', '617', '620',
       '621', '622', '624', '625', '626', '630', '640', '641', '645',
       '647', '650', '660', '661', '671', '689', '690', '707', '710',
       '715', '717', '720', '729', '730', '750', '755', '759', '760',
       '764', '770', '780', '789', '791', '797', '800', '819', '887',
       '986'], dtype=object)]),
                                                  ['Car Make', 'Car Model',
                                                   'Engine Size (L)',
                                                   'Horsepower'])])),
                ('linearregression', LinearRegression())])

In [121]:
y_pred = pipe.predict(x_test)

In [122]:
y_pred

array([2379090.25825974,   77493.97535595,  101538.83259714,
         61311.7064727 ,  101538.83259714,  504315.83025837,
        103586.92025527,  188786.8972149 ,  501751.80741976,
        324995.17335932,   95187.78213028,   92953.38134412,
        155574.78155777,  100322.85480909,  240055.20313342,
        328744.87784979,  202535.86639979,   63447.35805441,
         86196.18717492,  219057.66668743, 3004032.04102143,
        501751.80741976, 2897483.07976903,   68481.77837743,
        200036.47579905,  221603.59076907,  273479.59445462,
         89840.36141483, 2374995.84164271,   95112.75622091,
         63771.49974384,   94874.78173785,  177959.2683533 ,
         75858.06342571, 2818993.09828429,   63447.35805441,
        213283.87643711,   31782.78800515,  615737.38761613,
         89840.36141483,   68475.42406742, 2705042.52071395,
        227462.1731693 ,  129983.8750518 ,  202330.59130232,
        215170.23919816,  216606.46024277,    4216.16748687,
        501751.80741976,  248873.07270806, 3079805.14132884,
        425134.05279255,  111748.03717721,   59752.06017175,
         30641.56606123,  297999.23359573,  226829.47454871,
        146074.63878756,  620771.80793916,  217596.92521898,
        220299.18482774,  425134.05279255,   59368.81761951,
        501751.80741976,  220204.65952118,  615737.38761613,
        531404.76618494,  250505.7067659 ,   88943.96646154,
        144536.20926653,   68481.77837743,   75394.87246936,
         78239.44833007,  202906.12208281,  202330.59130232,
       2902517.50009205,  103956.32768732,  313565.95446857,
        223951.89722971,  615737.38761613,  496717.38709673,
         74878.63088335,  180726.70733059,  101538.83259714,
        145405.04030308,   63441.0037444 , 2998997.6206984 ,
        146074.63878756, 2446035.73925667,   69908.21108989,
        278514.01477765,  650607.59089679,   63447.35805441,
         30641.56606123,  197296.17097929,  219057.66668743,
         39709.44694715,  248873.07270806,  -31359.0553392 ,
         47243.8036782 ,  255129.05753043,  211572.03991975,
        116782.45750024,   89840.36141483,  107643.29013075,
        501751.80741976,   63447.35805441,   76983.49796856,
         39709.44694715,   73259.32417716, 2902517.50009205,
        434088.93569745,  150159.01656954,  101538.83259714,
        496717.38709673,   68224.90385413,  615737.38761613,
         89840.36141483,   59752.06017175,  144536.20926653,
        160609.20188079,  191513.91908222,   58473.94556481,
        197296.17097929,  220299.18482774,  136005.79814151,
         63328.653667  ,  114355.22301646,  101538.83259714,
       2897483.07976903,  141098.66959725,  144536.20926653,
         94874.78173785,  154110.64468683,  286929.51244309,
         63441.0037444 ,  138521.4663946 ,  211572.03991975,
        197296.17097929,  212562.50489595,  308531.53414554,
        155574.78155777,   98552.49993225,   52254.58371789,
        178901.48619104, 3084839.56165186,   80750.60519512,
       2999978.46897797,  509350.25058139,  104713.53060466,
        277244.40540829,   63447.35805441,   99679.11028164,
        668756.17675705,   39709.44694715,   63441.0037444 ,
         68224.90385413, 1584297.65783577,   63447.35805441,
         39154.46535642,  273479.59445462,  496640.42764336,
        111748.03717721,  308531.53414554,  293289.22661305,
         94874.78173785,   47243.8036782 ,  615737.38761613,
        155574.78155777,  183935.90651406,   63447.35805441,
         63441.0037444 ,  372504.80470974,  104713.53060466,
        197296.17097929,  313565.95446857,  406700.3653258 ,
        329992.89598586, 2818993.09828429,  212562.50489595,
        197296.17097929,   63447.35805441,  141040.21846454,
        425134.05279255,   30641.56606123,  141040.21846454,
         86196.18717492,  215170.23919816,  100322.85480909,
        408755.74631617,   39709.44694715,   63771.49974384,
       3084839.56165186, 2998997.6206984 ,   62703.67362553,
        192492.80558798,  160609.20188079,  211572.03991975,
        120003.73437516,   73259.32417716,   64628.07997067])

In [123]:
r2_score(y_test,y_pred)

0.992962263934893

In [136]:
scores=[]
for i in range(10):
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test,y_pred))

In [137]:
print(r2_score(y_test,y_pred),i)

0.9128368937008725 9

In [138]:
np.argmax(scores)

1

In [139]:
scores[np.argmax(scores)]

0.9920388626380199

In [140]:
    x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = np.argmax(scores))
    lr = LinearRegression()
    pipe = make_pipeline(column_trans,lr)
    pipe.fit(x_train,y_train)
    y_pred = pipe.predict(x_test)

In [141]:
r2_score(y_test,y_pred)

0.9920388626380199

In [142]:
data.to_csv('cardata.csv')

In [143]:
import pickle

In [144]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [145]:
pipe.predict(pd.DataFrame([['Porsche','911','2022']]),columns=['Car Make','Car Model','Year']

SyntaxError: unexpected EOF while parsing (11919432.py, line 1)